# Data dirs
shared_drive/*
training/*
.setttings/*

#Visual Studio
build/*

#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# PyTorch model
*.pt
*.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints


# Pydev project settings
.pydevproject
.project

# Spyder project settings
.spyderproject
.spyproject
